.job-card {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  border: 1px solid #f1f3f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.job-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.job-card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.company-logo-container {
  background: linear-gradient(#fff, #f5f5f5);
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 84px;
  overflow: hidden;
}

.company-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  margin-top: 5px;
  border-radius: 8px;  /* slightly curved corners, like Figma */
}

.posted-time {
  background: #B0D9FF;
  color: #000000;
  padding: 0.35rem 0.75rem;
  border-radius: 10px;
  font-size: 14px;
  letter-spacing: -0.5px;
  font-weight: 500;
  max-height: fit-content;
  /* font-family: Satoshi Variable; */
/* font-weight: 500;
font-style: Medium;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-align: center; */

}

.job-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 1rem;
  font-style: Bold;
  /* font-family: Satoshi Variable; */
  font-size: 20px;
/* font-weight: 700;
font-style: Bold;
font-size: 20px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-align: center; */

}

.job-details {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.detail-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #6b7280;
  font-size: 0.875rem;
}

.detail-icon {
  stroke-width: 1.5;
}

.job-description {
  margin-bottom: 1.5rem;
}

.description-item {
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: #4b5563;
  line-height: 1.5;
}

.bullet {
  margin-right: 0.5rem;
  color: #9ca3af;
  font-weight: bold;
}

.apply-btn {
  width: 100%;
  background: linear-gradient(135deg, #00AAFF);
  color: white;
  border: none;
  padding: 0.875rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  /* transition: all 0.2s ease; */
}

.apply-btn:hover {
  background: linear-gradient(135deg, #137ecb);
  /* transform: translate(-1px, -2px);  */
  /* slight uplift-left hover effect */
}

.apply-btn:active {
  transform: translateY(0);
}

.job-details img{
  width: 15px;
}